@import url("https://fonts.googleapis.com/css2?family=Germania+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  margin: 0px;
  padding: 0px;
}

/*css index*/
.header {
  height: 480px;
  font-size: 25px;
  font-family: "Germania One", cursive;
  background-image: url(../image/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(32, 26, 15);
  display: flex;
  justify-content: center;
  align-items: center;
  }

.logo {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: auto;
  transition: 1s;
}

.logo:hover {
  transform: rotate(360deg);
}

.navbar {
  margin: 1px;
  padding: 1px;
  font-family: "Germania One", cursive;
  color: rgb(245, 198, 111);
  text-align: center;
  background-color: rgb(97, 70, 19);
}

.section {
  margin: 1px;
  padding: 1px;
  text-align: center;
  color: cornsilk;
  font-size: 15px;
  font-family: "Germania One", cursive;
}

.img-article {
  border-radius: 50%;
  box-shadow: 10px 10px 10px 10px black;
  margin: auto;
  width: 100%;
  height: auto;
}

.img-article:hover {
  transform: scale(1, 1.1);
}

.body {
  background-color: rgb(66, 66, 66);
  background-image: linear-gradient(to left, rgb(24, 24, 70), rgb(126, 124, 124));
  font-family: "Germania One", cursive;
}

.footer {
  font-family: "Germania One", cursive;
  color: rgb(66, 66, 66);
  font-size: 20px;
  background-image: linear-gradient(to left,rgb(24, 24, 70), rgb(212, 209, 195), rgb(119, 116, 116));
  justify-items: left;
  align-items: center;
  text-align: center;
}

.material-icons {
  display: flex;
  justify-items: center;
  color: rgb(66, 66, 66);
  text-align: center;
  text-decoration: dashed;
  justify-content: center;
  margin: 10px;
}

.h3 {
  margin: 15px;
  padding: 10px;
  text-align: center;
  color: rgb(139, 92, 4);
  font-size: 25px;
  font-family: "Germania One", cursive;
}

.h2 {
  margin: 1rem;
  color: rgb(66, 66, 66);
  text-align: center;
}

.aside {
  background-image: linear-gradient(to left, rgb(199, 199, 199), rgb(248, 241, 241), rgb(199, 199, 199));
  border-radius: 8px;
  margin: 1px;
}

.video-responsive {
  width: 100%;
  height: auto;
  align-items: center;
}
.parrafo {
  color:  rgb(66, 66, 66);
  margin: 10px;
  font-size: 20px;
  text-align: center;
}
/*media query
@media only screen and (min-width: 400px) and (max-width: 700px) {
  .header {
    width: auto;
  }
  .logo {
    margin: 5%;
  }
  .section {
    grid-column: 1/4;
    grid-row: 3/4;
    max-width: 30%;
  }
  .img-article {
    margin: auto;
    width: 80%;
  }
  .aside {
    grid-column: 1/4;
    grid-row: 4/5;
    max-width: 30%;
  }
  .footer {
    max-width: 30%;
  }
  .video {
    margin: auto;
    width: 300px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 399px){

  .header{
      width: auto;
  }

  .logo{
      margin: 5%;
  }

  .section{
      grid-column: 1 / 4;
      grid-row: 3 / 4;
      max-width: 30%;
  }

  .img-article{
      margin: auto;
      width: 80%;
  }

  .aside{
      grid-column: 1 / 4;
      grid-row: 4 / 5;
      max-width: 30%;
  }

  .footer{
      max-width: 30%;
  }

  .video{
      margin: auto;
      width: 300px;
  }
}*/

/*css page contacto*/
.main {
  text-align: center;
  color: cornsilk;
  font-size: 15px;
  font-family: "Germania One", cursive;
}

.contacto {
  text-align: center;
  margin: 100px;
  color: cornsilk;
  font-size: 15px;
  font-family: "Germania One", cursive;
}
/*
@media only screen and (min-width: 400px) and (max-width: 700px) {
  .main {
    grid-column: 1/4;
    grid-row: 3/4;
    max-width: 30%;
  }
  .contacto {
    grid-column: 1/4;
    grid-row: 4/5;
    max-width: 20%;
    margin: 35px;
  }
  .img-contacto {
    width: 350px;
    max-height: 600px;
  }
  .footer-hist {
    max-width: 30%;
  }
}

@media only screen and (min-width: 200px) and (max-width: 399px) {
  .main {
    grid-column: 1/4;
    grid-row: 3/4;
    max-width: 30%;
  }
  .contacto {
    grid-column: 1/4;
    grid-row: 4/5;
    max-width: 20%;
    margin: 35px;
  }
  .img-contacto {
    width: 350px;
    max-height: 600px;
  }
  .footer-hist {
    max-width: 30%;
  }
}
/*css page nuestras variedades*/
.aside-nv {
  background-image: radial-gradient(circle, rgb(216, 215, 213), rgb(253, 247, 224));
  border-radius: 8px;
  margin: auto;
}

.img-nv {
  border-radius: 100px;
  margin: 3rem 1rem 3rem 6rem;
  justify-content: center;
  box-shadow: 6px 6px 6px 6px rgb(32, 32, 32);
}

.img-nv:hover {
  transform: scale(1, 1.1);
}

#golden {
  text-align: left;
  font-size: 30px;
  color: cornsilk;
  margin: 50px auto;
}

#red {
  text-align: left;
  font-size: 30px;
  color: cornsilk;
  margin: 50px auto;
}

#black {
  text-align: left;
  font-size: 30px;
  color: cornsilk;
  margin: 50px auto;
}

.h3 {
  text-align: left;
  font-size: 45px;
  color: cornsilk;
}

/*
@media only screen and (min-width: 400px) and (max-width: 700px) {
  .aside-nv {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  .section-nv {
    grid-column: 1/4;
    grid-row: 4/5;
  }
}


@media only screen and (min-width: 200px) and (max-width: 399px) {
  .aside-nv {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  .section-nv {
    grid-column: 1/4;
    grid-row: 4/5;
  }
}

/*css la historia*/
.footer-hist {
  font-family: "Germania One", cursive;
  color: rgb(66, 66, 66);
  font-size: 20px;
  background-image: linear-gradient(to left,rgb(24, 24, 70), rgb(212, 209, 195), rgb(119, 116, 116));
  justify-items: left;
  align-items: center;
  text-align: center;
}

.section-hist {
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: cornsilk;
  font-size: 15px;
  font-family: "Germania One", cursive;
}

.aside-hist {
  background-image: radial-gradient(circle, rgb(216, 215, 213), rgb(253, 247, 224));
  border-radius: 8px;
  margin: auto;
}

.card {
  margin: auto;
  justify-items: center;
}
/*
@media only screen and (min-width: 400px) and (max-width: 700px) {
  .section-hist {
    grid-column: 1/4;
    grid-row: 3/4;
    max-width: 30%;
  }
  .aside-hist {
    grid-column: 1/4;
    grid-row: 4/5;
    max-width: 30%;
  }
  .footer-hist {
    max-width: 30%;
  }
}

@media only screen and (min-width: 200px) and (max-width: 399px) {
  .section-hist {
    grid-column: 1/4;
    grid-row: 3/4;
    max-width: 30%;
  }
  .aside-hist {
    grid-column: 1/4;
    grid-row: 4/5;
    max-width: 30%;
  }
  .footer-hist {
    max-width: 30%;
  }
}
/*css nuestros lugares*/
.section-nl1 {
  text-align: center;
  color: cornsilk;
  font-size: 15px;
  font-family: "Germania One", cursive;
}

.section-nl2 {
  text-align: center;
  color: cornsilk;
  font-size: 15px;
  font-family: "Germania One", cursive;
}

.footer-nl {
  font-family: "Germania One", cursive;
  color: rgb(66, 66, 66);
  font-size: 20px;
  background-image: linear-gradient(to left,rgb(24, 24, 70), rgb(212, 209, 195), rgb(119, 116, 116));
  justify-items: left;
  align-items: center;
  text-align: center;
}

.titulo{
  margin: 10px;
  transition: 1s;
}

.titulo:hover{
  transform: scale(1,1.5);
}
/*
@media only screen and (min-width: 400px) and (max-width: 700px) {
  .section-nl1 {
    grid-column: 1/4;
    grid-row: 3/4;
    max-width: 30%;
  }
  .section-nl2 {
    grid-column: 1/4;
    grid-row: 4/5;
    max-width: 30%;
  }
  .footer-nl {
    max-width: 30%;
  }
}

@media only screen and (min-width: 200px) and (max-width: 399px) {
  .section-nl1 {
    grid-column: 1/4;
    grid-row: 3/4;
    max-width: 30%;
  }
  .section-nl2 {
    grid-column: 1/4;
    grid-row: 4/5;
    max-width: 30%;
  }
  .footer-nl {
    max-width: 30%;
  }
}


/*# sourceMappingURL=style.css.map */
